<img src="{{ site.url }}/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }}">

<p class="bio-name">{{ site.owner.name }}</p>
<p class="bio-role">Undergraduate Student<br>Data Science (Mathematics)</p>
<p class="bio-detail">Harbin Institute of Technology, Shenzhen</p>
<p class="bio-detail">Shenzhen, China</p>

<div class="bio-links">
{% if site.owner.email %}<p><a href="mailto:{{ site.owner.email }}" class="bio-link"><i class="icon-mail"></i> Email</a></p>{% endif %}
{% if site.owner.scholar %}<p><a href="{{ site.owner.scholar }}" class="bio-link"><i class="ai ai-google-scholar-square"></i> Google Scholar</a></p>{% endif %}
{% if site.owner.github %}<p><a href="https://github.com/{{ site.owner.github }}" class="bio-link"><i class="icon-github"></i> GitHub</a></p>{% endif %}
{% if site.owner.linkedin %}<p><a href="https://linkedin.com/in/{{ site.owner.linkedin }}" class="bio-link"><i class="icon-linkedin"></i> LinkedIn</a></p>{% endif %}
{% if site.owner.twitter %}<p><a href="https://twitter.com/{{ site.owner.twitter }}" class="bio-link"><i class="icon-twitter"></i> Twitter</a></p>{% endif %}
{% if site.owner.cv %}<p><a href="{{ site.owner.cv }}" class="bio-link"><img src="{{ site.url }}/assets/logo/icons8-cv-100.png" width="14" height="14"> CV</a></p>{% endif %}
{% if site.owner.researchgate %}<p><a href="{{ site.owner.researchgate }}" class="bio-link"><img src="{{ site.url }}/assets/logo/icons8-rg.png" width="14" height="14"> ResearchGate</a></p>{% endif %}
{% if site.owner.zhihu %}<p><a href="{{ site.owner.zhihu }}" class="bio-link"><img src="{{ site.url }}/assets/logo/icons8-zhihu-96.png" width="14" height="14"> Zhihu</a></p>{% endif %}
{% if site.owner.bilibili %}<p><a href="https://space.bilibili.com/{{ site.owner.bilibili }}" class="bio-link"><img src="{{ site.url }}/assets/logo/icons8-retro-tv-100.png" width="14" height="14"> Bilibili</a></p>{% endif %}
</div>

<div class="bio-interests">
  <p class="bio-interests-title">Research Interests</p>
  <p class="bio-interests-list">Machine Learning<br>Computational Imaging<br>Generative Models</p>
</div>
